{
  "env": {
    "production": {
      "plugins": [
        "transform-class-properties",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "dynamic-import-node",
        "syntax-dynamic-import",
        "external-helpers",
        "lodash"
      ],
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "flow"
      ]
    },
    "storybook": {
      "plugins": [
        "transform-class-properties",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "dynamic-import-node",
        "syntax-dynamic-import",
        "babel-plugin-react-docgen"
      ],
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "flow"
      ]
    }
  }
}
