{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "extraFileExtensions": [".js"]
  },
  "extends": [
    "@njmyers/eslint-config",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/indent": "off"
  },
  "overrides": [
    {
      "files": ["**/scripts/*.js"],
      "rules": {
        "env": {
          "node": true
        }
      }
    },
    {
      "files": ["**/__test__/*.js", "**/__test__/*.ts"],
      "rules": {
        "env": {
          "jest": true
        }
      }
    }
  ]
}
