@import '../Global/mixins.sass'
@import '../Global/colors.sass'
@import '../Global/fonts.sass'
@import '../Main/main-default.sass'

.header-container
	box-sizing: border-box
	width: 100%
	position: sticky
	top: 0
	z-index: 1001

.header,
.mobile-header
	box-sizing: border-box
	font-family: $title-font
	font-weight: 100
	background: transparentize($grey-darkest, 0.1)
	color: $white
	padding: 20px $page-gutter
	+flexbox
	align-items: center
	justify-content: space-between

.hamburger
	cursor: pointer
	margin: 0
	padding: 0
	box-shadow: none
	background: none
	color: $white
	&:hover
		background: none
		color: $white

.title
	+flexbox
	flex-direction: column
	width: 92%
	@include all-phone
		padding-top: 0