@import 'colors-default.sass'
$red-lightest-hover: transparentize($red-lightest, .3)
$red-lighter-hover: transparentize($red-lighter, .3)
$red-light-hover: transparentize($red-light, .3)
$red-hover: transparentize($red, .3)
$red-dark-hover: transparentize($red-dark, .3)
$red-darker-hover: transparentize($red-darker, .3)
$red-darkest-hover: transparentize($red-darkest, .3)
$rose-lightest-hover: transparentize($rose-lightest, .3)
$rose-lighter-hover: transparentize($rose-lighter, .3)
$rose-light-hover: transparentize($rose-light, .3)
$rose-hover: transparentize($rose, .3)
$rose-dark-hover: transparentize($rose-dark, .3)
$rose-darker-hover: transparentize($rose-darker, .3)
$rose-darkest-hover: transparentize($rose-darkest, .3)
$magenta-lightest-hover: transparentize($magenta-lightest, .3)
$magenta-lighter-hover: transparentize($magenta-lighter, .3)
$magenta-light-hover: transparentize($magenta-light, .3)
$magenta-hover: transparentize($magenta, .3)
$magenta-dark-hover: transparentize($magenta-dark, .3)
$magenta-darker-hover: transparentize($magenta-darker, .3)
$magenta-darkest-hover: transparentize($magenta-darkest, .3)
$purple-lightest-hover: transparentize($purple-lightest, .3)
$purple-lighter-hover: transparentize($purple-lighter, .3)
$purple-light-hover: transparentize($purple-light, .3)
$purple-hover: transparentize($purple, .3)
$purple-dark-hover: transparentize($purple-dark, .3)
$purple-darker-hover: transparentize($purple-darker, .3)
$purple-darkest-hover: transparentize($purple-darkest, .3)
$blue-lightest-hover: transparentize($blue-lightest, .3)
$blue-lighter-hover: transparentize($blue-lighter, .3)
$blue-light-hover: transparentize($blue-light, .3)
$blue-hover: transparentize($blue, .3)
$blue-dark-hover: transparentize($blue-dark, .3)
$blue-darker-hover: transparentize($blue-darker, .3)
$blue-darkest-hover: transparentize($blue-darkest, .3)
$cobalt-lightest-hover: transparentize($cobalt-lightest, .3)
$cobalt-lighter-hover: transparentize($cobalt-lighter, .3)
$cobalt-light-hover: transparentize($cobalt-light, .3)
$cobalt-hover: transparentize($cobalt, .3)
$cobalt-dark-hover: transparentize($cobalt-dark, .3)
$cobalt-darker-hover: transparentize($cobalt-darker, .3)
$cobalt-darkest-hover: transparentize($cobalt-darkest, .3)
$cyan-lightest-hover: transparentize($cyan-lightest, .3)
$cyan-lighter-hover: transparentize($cyan-lighter, .3)
$cyan-light-hover: transparentize($cyan-light, .3)
$cyan-hover: transparentize($cyan, .3)
$cyan-dark-hover: transparentize($cyan-dark, .3)
$cyan-darker-hover: transparentize($cyan-darker, .3)
$cyan-darkest-hover: transparentize($cyan-darkest, .3)
$aqua-lightest-hover: transparentize($aqua-lightest, .3)
$aqua-lighter-hover: transparentize($aqua-lighter, .3)
$aqua-light-hover: transparentize($aqua-light, .3)
$aqua-hover: transparentize($aqua, .3)
$aqua-dark-hover: transparentize($aqua-dark, .3)
$aqua-darker-hover: transparentize($aqua-darker, .3)
$aqua-darkest-hover: transparentize($aqua-darkest, .3)
$green-lightest-hover: transparentize($green-lightest, .3)
$green-lighter-hover: transparentize($green-lighter, .3)
$green-light-hover: transparentize($green-light, .3)
$green-hover: transparentize($green, .3)
$green-dark-hover: transparentize($green-dark, .3)
$green-darker-hover: transparentize($green-darker, .3)
$green-darkest-hover: transparentize($green-darkest, .3)
$lime-lightest-hover: transparentize($lime-lightest, .3)
$lime-lighter-hover: transparentize($lime-lighter, .3)
$lime-light-hover: transparentize($lime-light, .3)
$lime-hover: transparentize($lime, .3)
$lime-dark-hover: transparentize($lime-dark, .3)
$lime-darker-hover: transparentize($lime-darker, .3)
$lime-darkest-hover: transparentize($lime-darkest, .3)
$yellow-lightest-hover: transparentize($yellow-lightest, .3)
$yellow-lighter-hover: transparentize($yellow-lighter, .3)
$yellow-light-hover: transparentize($yellow-light, .3)
$yellow-hover: transparentize($yellow, .3)
$yellow-dark-hover: transparentize($yellow-dark, .3)
$yellow-darker-hover: transparentize($yellow-darker, .3)
$yellow-darkest-hover: transparentize($yellow-darkest, .3)
$orange-lightest-hover: transparentize($orange-lightest, .3)
$orange-lighter-hover: transparentize($orange-lighter, .3)
$orange-light-hover: transparentize($orange-light, .3)
$orange-hover: transparentize($orange, .3)
$orange-dark-hover: transparentize($orange-dark, .3)
$orange-darker-hover: transparentize($orange-darker, .3)
$orange-darkest-hover: transparentize($orange-darkest, .3)
$grey-lightest-hover: transparentize($grey-lightest, .3)
$grey-lighter-hover: transparentize($grey-lighter, .3)
$grey-light-hover: transparentize($grey-light, .3)
$grey-hover: transparentize($grey, .3)
$grey-dark-hover: transparentize($grey-dark, .3)
$grey-darker-hover: transparentize($grey-darker, .3)
$grey-darkest-hover: transparentize($grey-darkest, .3)
$white-hover: transparentize($white, .3)
$black-hover: transparentize($black, .3)