// https://material.io/design/typography/the-type-system.html#type-scale

/** helper function to interpolate string and element names */
=interpolate-typography-strings($class-name, $element-name, $extender: null)
  .#{$element-name}-#{$class-name}, #{$element-name}.#{$class-name}, *.#{$class-name} > #{$element-name}
    @if $extender
      @extend #{$extender}
    @else
      @extend %#{$element-name}-#{$class-name}

/** helper function to interpolate string and element names */
=interpolate-basic-typography-strings($class-name, $element-name, $extender)
  #{$element-name}.#{$class-name}
    @extend #{$extender}

=typography($class-name, $font-family, $light-weight: 100, $normal-weight: 300, $medium-weight: 400, $bold-weight: 700)

  $h1-font-size: 6rem

  %h1-#{$class-name}
    font-size: $h1-font-size
    line-height: 1.4
    letter-spacing: -0.09375rem
    margin: 0
    margin-top: $h1-font-size * 0.2
    padding: 0
    font-family: $font-family
    font-weight: $light-weight

  $h2-font-size: 3.75rem

  %h2-#{$class-name}
    font-size: $h2-font-size
    line-height: 1.4
    letter-spacing: -0.03125rem
    margin: 0
    margin-top: $h2-font-size * 0.2
    padding: 0
    font-weight: $light-weight
    font-family: $font-family

  $h3-font-size: 3rem

  %h3-#{$class-name}
    font-size: $h3-font-size
    line-height: 1.4
    letter-spacing: 0rem
    margin: 0
    margin-top: $h3-font-size * 0.2
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $h4-font-size: 2.125rem

  %h4-#{$class-name}
    font-size: $h4-font-size
    line-height: 1.4
    letter-spacing: 0.015625rem
    margin: 0
    margin-top: $h4-font-size * 0.2
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $h5-font-size: 1.5rem

  %h5-#{$class-name}
    font-size: $h5-font-size
    line-height: 1.4
    letter-spacing: 0rem
    margin: 0
    margin-top: $h5-font-size * 0.2
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $h6-font-size: 1.25rem

  %h6-#{$class-name}
    font-size: $h6-font-size
    line-height: 1.4
    letter-spacing: 0.009375rem
    margin: 0
    margin-top: $h6-font-size * 0.2
    padding: 0
    font-weight: $medium-weight
    font-family: $font-family

  $subtitle-1-font-size: 1rem

  %subtitle-#{$class-name}-1
    font-size: $subtitle-1-font-size
    line-height: 1.4
    letter-spacing: 0.009375rem
    margin: 0
    margin-top: $subtitle-1-font-size * 0.7
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $subtitle-2-font-size: 0.875rem

  %subtitle-#{$class-name}-2
    font-size: $subtitle-2-font-size
    line-height: 1.4
    letter-spacing: 0.00625rem
    margin: 0
    margin-top: $subtitle-2-font-size * 0.65
    padding: 0
    font-weight: $medium-weight
    font-family: $font-family

  $body-1-font-size: 1rem

  %body-#{$class-name}-1
    font-size: $body-1-font-size
    line-height: 1.4
    letter-spacing: 0.03125rem
    margin: 0
    margin-top: $body-1-font-size * 1.25
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $body-2-font-size: 0.875rem

  %body-#{$class-name}-2
    font-size: $body-2-font-size
    line-height: 1.4
    letter-spacing: 0.015625rem
    margin: 0
    margin-top: $body-2-font-size * 1.25
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $button_text-font-size: 0.875rem

  %button_text-#{$class-name}
    font-size: $button_text-font-size
    line-height: 1.4
    letter-spacing: 0.046875rem
    text-transform: uppercase
    display: block
    margin: 0
    padding: 0
    padding-top: 2px
    font-weight: $medium-weight
    font-family: $font-family

  $caption-font-size: 0.75rem

  %caption-#{$class-name}
    font-size: $caption-font-size
    line-height: 1.4
    letter-spacing: 0.025rem
    margin: 0
    margin-top: $caption-font-size * 0.75
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  $overline-font-size: 0.625rem

  %overline-#{$class-name}
    font-size: $overline-font-size
    line-height: 1.4
    letter-spacing: 0.09375rem
    text-transform: uppercase
    margin: 0
    margin-top: $overline-font-size * 0.75
    padding: 0
    font-weight: $normal-weight
    font-family: $font-family

  %markdown-#{$class-name}
    h1
      @extend %h1-#{$class-name}

    h2
      @extend %h2-#{$class-name}

    h3
      @extend %h3-#{$class-name}

    h4
      @extend %h4-#{$class-name}

    h5
      @extend %h5-#{$class-name}

    h6
      @extend %h6-#{$class-name}

    p, span, li, a
      @extend %body-#{$class-name}-1

  +interpolate-typography-strings($class-name, 'h1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}', 'h1', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-1', 'h1', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-2', 'h1', '%subtitle-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'h2')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-1', 'h2', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-2', 'h2', '%subtitle-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'h3')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-1', 'h3', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-2', 'h3', '%subtitle-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'h4')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-1', 'h2', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-2', 'h2', '%subtitle-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'h5')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-1', 'h2', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-2', 'h2', '%subtitle-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'h6')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-1', 'h6', '%subtitle-#{$class-name}-1')
  +interpolate-basic-typography-strings('subtitle-#{$class-name}-2', 'h6', '%subtitle-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'body', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-1, 'body', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-2, 'body', '%body-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'p', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-1, 'p', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-2, 'p', '%body-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'span', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-1, 'span', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-2, 'span', '%body-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'li', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-1, 'li', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-2, 'li', '%body-#{$class-name}-2')

  // input elements
  +interpolate-typography-strings($class-name, 'input', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-1, 'input', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-2, 'input', '%body-#{$class-name}-2')

  +interpolate-typography-strings($class-name, 'textarea', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-1, 'textarea', '%body-#{$class-name}-1')
  +interpolate-typography-strings(#{$class-name}-2, 'textarea', '%body-#{$class-name}-2')

  // caption
  +interpolate-typography-strings($class-name, 'caption')
  +interpolate-typography-strings($class-name, 'figcaption', '%caption-#{$class-name}')

  .subtitle-#{$class-name}-1
    @extend %subtitle-#{$class-name}-1

  .subtitle-#{$class-name}-2
    @extend %subtitle-#{$class-name}-2

  .button_text-#{$class-name}
    @extend %button_text-#{$class-name}

  .overline-#{$class-name}
    @extend %overline-#{$class-name}

  .markdown-#{$class-name}
    @extend %markdown-#{$class-name}